{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block body %}
    <style>
        .container-fluid {
            max-width: 600px;
            min-width: 400px;
            padding: 70px;
        }
        h2 {
            text-align: center;
            margin-top: 40px;
        }

        .fa-paw {
            color: forestgreen;
            position: fixed;
            bottom: 20px; right: 20px;
        }


    </style>
    <div class="container-fluid">
        <h2>Vartotojų registracija</h2>
    {{ form_start(registration_form) }}
    {{ form_widget(registration_form) }}

        <button class="btn btn-primary">{{ button_label|default('Registruotis') }}</button>
        {{ form_rest(registration_form) }}
        {{ form_end(registration_form) }}


    <i class="fas fa-paw fa-4x"></i>
    </div>
{% endblock %}
