{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>
    <div>
        <h4>Filtrai</h4>
        <form class="navbar-form" action="{{ path('animal_index_filter') }}">
            <div class="form-group">
                <select name="animal" onchange="this.form.submit()">
                    <option selected value>- Gyvūnas -</option>
                    <option {% if animalFilter == 'šuo' %} selected="selected" {% endif %} value="šuo">Šuo</option>
                    <option {% if animalFilter == 'katė' %} selected="selected" {% endif %} value="katė">Katė</option>
                    <option {% if animalFilter == 'paukštis' %} selected="selected" {% endif %} value="paukštis">Paukštis</option>
                </select>
                <select name="available" onchange="this.form.submit()">
                    <option selected value>- Požymis -</option>
                    <option {% if availableFilter == '0' %} selected="selected" {% endif %} value="0">Neatiduotas</option>
                    <option {% if availableFilter == '1' %} selected="selected" {% endif %} value="1">Atiduotas</option>
                </select>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Age</th>
                <th>Species</th>
                <th>Picture</th>
                <th>Is Available</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.picture }}</td>
                <td>{{ animal.isAvailable ? 'Yes' : 'No' }}</td>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ animal.updatedAt ? animal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}">show</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('animal_new') }}">Create new</a>
{% endblock %}