{% extends 'base.html.twig' %}

{% block title %}Gyvūnų sąrašas{% endblock %}

{% block body %}
    <style>
        .container-fluid {
            max-width: 90%;
            padding: 60px;
            border: solid 2px #dedede;
        }
    </style>
    <div class="container-fluid">
    <h1>Gyvūnų sąrašas</h1>
    <div>
        <form class="navbar-form" action="{{ path('animal_index') }}">
            <div class="form-group">
                <select name="animal" onchange="this.form.submit()">
                    <option selected value>- Gyvūnas -</option>
                    <option {% if animalFilter == 'šuo' %} selected="selected" {% endif %} value="šuo">Šuo</option>
                    <option {% if animalFilter == 'katė' %} selected="selected" {% endif %} value="katė">Katė</option>
                    <option {% if animalFilter == 'kita' %} selected="selected" {% endif %} value="kita">Kita</option>
                </select>
                <select name="available" onchange="this.form.submit()">
                    <option selected value>- Požymis -</option>
                    <option {% if availableFilter == '0' %} selected="selected" {% endif %} value="0">Neatiduotas</option>
                    <option {% if availableFilter == '1' %} selected="selected" {% endif %} value="1">Atiduotas</option>
                </select>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Rūšis</th>
                <th>Amžius</th>
                <th>Vardas</th>
                <th>Aprašymas</th>
                <th>Ar atiduotas?</th>
                <th>Sukurtas</th>
                <th>Atnaujintas</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.species }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.isAvailable ? 'Taip' : 'Ne' }}</td>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ animal.updatedAt ? animal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('animal_show', {'id': animal.id}) }}">Rodyti</a>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Įrašų nėra</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('animal_new') }}">Kurti naują</a>
    </div>

{% endblock %}