{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <h1>Animal index</h1>
    <div>
        <h4>Filtrai</h4>
        <form class="navbar-form" action="{{ path('animal_index_filter') }}">
            <div class="form-group">
                <select name="animal" onchange="this.form.submit()">
                    <option selected value>- Gyvūnas -</option>
                    <option {% if animalFilter == 'šuo' %} selected="selected" {% endif %} value="šuo">Šuo</option>
                    <option {% if animalFilter == 'katė' %} selected="selected" {% endif %} value="katė">Katė</option>
                    <option {% if animalFilter == 'kita' %} selected="selected" {% endif %} value="kita">Kita</option>
                </select>
                <select name="available" onchange="this.form.submit()">
                    <option selected value>- Požymis -</option>
                    <option {% if availableFilter == '0' %} selected="selected" {% endif %} value="0">Neatiduotas</option>
                    <option {% if availableFilter == '1' %} selected="selected" {% endif %} value="1">Atiduotas</option>
                </select>
            </div>
        </form>
    </div>

    <div class="container home-cards">
        {% for animal in animals[3:]  %}
            {% if loop.index0 is divisible by(3) %}
                <div class="row">
            {% endif %}
            {#<div class="col-sm-12 clo-lg-6 col-lg-3">#}
            <div class="card card-default" id="card-animal">
                <h6 class="card-title-small" style="">{{ animal.name }}</h6>
                <a href="{{ path('animal_show', {'id': animal.id}) }}">
                    {% if (animal.species == 'katinas') %}
                        <img class="img-fluid" src="{{ absolute_url(asset('images/cat.png')) }}" width="380" alt="Cat!" />
                    {% else %}
                        <img class="img-fluid" src="{{ absolute_url(asset('images/dog.png')) }}" width="380" alt="Dog!" />
                    {% endif %}
                </a>
                <div class="card-body" style="background-color: floralwhite;">
                    <h6 class="card-subtitle"></h6>
                    <a href="{{ path('reservation_show', {'id': animal.id}) }}"><i class="fa fa-calendar-check fa-2x"></i></a>
                    <span>  Susipažinkite   </span>
                    <i class="fas fa-heart" style="color:dodgerblue"></i> <span>{{ animal.heartCount }}</span>
                    <hr>

                </div>
            </div>
            {#</div>#}
            {% if loop.index is divisible by(3) or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a href="{{ path('animals_list') }}">Grižti į sąrašą</a>
{% endblock %}