{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}
<div class="container">
    <h1>Animal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ animal.description }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ animal.age }}</td>
            </tr>
            <tr>
                <th>Species</th>
                <td>{{ animal.species }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="/uploads/{{ animal.picture }}"></td>
            </tr>
            <tr>
                <th>Is Available</th>
                <td>{{ animal.isAvailable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ animal.createdAt ? animal.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ animal.updatedAt ? animal.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('reservation_show', {'id': animal.id}) }}" class="btn btn-primary btn-sm active"
       role="button">Rezervuoti apsilankymą</a><br>

    <a href="{{ path('animal_index') }}" role="button" class="btn btn-sm btn-primary active">Grįžti į sąrašą</a><br>

    <a href="{{ path('animal_edit', {'id': animal.id}) }}" role="button" class="btn btn-sm btn-warning active">Koreguoti</a>

    {{ include('animal/_delete_form.html.twig') }}

    {% if comments %}
        <h4>Komentarai</h4>
        {% for comment in comments %}
            <!-- Comment -->
                <div class="card">
                    <div class="card-body">
                        <header>
                            <div class="comment-user"><i class="fa fa-user"></i> {{ comment.user.firstName }} {{ comment.user.lastName }}</div>
                            <time class="comment-date"><i class="fa fa-clock-o"></i> {{ comment.createdAt|date('Y-m-d H:i:s') }}</time>
                        </header>
                        <div class="comment-post">
                            <p><i class="far fa-comment"></i> {{ comment.comment }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endif %}

    <div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Komentuoti') }}</button>
        {{ form_end(form) }}
    </div>
</div>


{% endblock %}