{% extends 'base.html.twig' %}

{% block title %}Gyvūnas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/comments.css">
{% endblock %}

{% block body %}
<style>
    .animal-show {
        padding: 70px;
        width: 70%;
    }
    body {
    font-family: 'Quicksand', sans-serif;
    }
    .img-fluid {
        padding: 10px;
        border-radius: 5px;
        border: solid grey 2px;
        margin-left: 20px;
        max-width: 40%;
    }
    .card-title-big {
    font-weight:bold;
    padding: 15px 0 0 10px;
    margin-left: 15px;
    }
    #card-animal-big span {
    margin-left: 20px;
    }
    @media only screen and (max-width: 550px) {
        .animal-show{
            width: 90%;
        }
        .animal-show h3 h2{
            font-size: 14px;
        }
       }


</style>
<div class="container-fluid animal-show">
<h3>Gyvūno svetainė</h3>
     <div class="card card-default" id="card-animal-big">
                <h2 class="card-title-big">{{ animal.name }}</h2><hr>
                {#<img src="/uploads/{{ animal.picture }}">#}
                        {% if (animal.species == 'katinas') %}

                            <img class="img-fluid" src="{{ absolute_url(asset('images/cat.png')) }}" alt="Cat!" />
                            {% else %}
                                <img class="img-fluid" src="{{ absolute_url(asset('images/cat.png')) }}" alt="Dog!" />
                                    {% endif %}

         <div class="card-body" style="background-color: whitesmoke;">
             <h3 class="card-subtitle">Gyvūno istorija</h3><hr>
             {{ animal.description }}<hr>
             {{ animal.species|title }}<hr>
             {{ animal.id }}<hr>
             <p>Prieglaudoje nuo:<span>{{ animal.createdAt ? animal.createdAt|date('Y-m-d') : '' }}</span></p>
             <hr>
             <a href="{{ path('message_new') }}"><i class="fa fa-calendar-check fa-2x"></i></a>
             <span>Rezervuokite susitikimo laiką</span>
             <hr>

             <div href="{{ path('animal_toggle_heart', {id: id}) }}" class="fa fa-heart-o fa-2x like-animal js-like-animal ooo">
             </div>
             <span class="js-like-animal-count">{{ animal.heartCount }}</span>
             <span>"Pamėgti" gyvūną</span>

             <hr>
             {% if comments %}
                 <h4>Komentarai</h4>
                 {% for comment in comments %}
                     <!-- Comment -->
                     <div class="card">
                         <div class="card-body">
                             <header>
                                 <div class="comment-user"><i class="fa fa-user"></i> {{ comment.user.firstName }} {{ comment.user.lastName }}</div>
                                 <time class="comment-date"><i class="fa fa-clock-o"></i> {{ comment.createdAt|date('Y-m-d H:i:s') }}</time>
                             </header>
                             <div class="comment-post">
                                 <p><i class="far fa-comment"></i> {{ comment.comment }}</p>
                             </div>
                         </div>
                     </div>
                 {% endfor %}
             {% endif %}
             <hr>
             <div>
                 {{ form_start(form) }}
                 {{ form_widget(form) }}
                 <button class="btn btn-primary">{{ button_label|default('Komentuoti') }}</button>
                 {{ form_end(form) }}
             </div>
             {%  if is_granted ('ROLE_ADMIN') %}
                 <a href="{{ path('animal_edit', {'id': animal.id}) }}">edit</a>
                 {{ include('animal/_delete_form.html.twig') }}
             {% endif %}
             <a href="{{ path('animal_index') }}">Gyvūnų sąrašas</a>

         </div>
         {{ include('home/_footer.html.twig') }}
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {% if user_id != 0 %}
    {{ parent() }}
    <script src="/animal_show.js"></script>
    <script>
        $(document).ready(function() {
            $('.ooo').on('click', function(e) {
                console.log('ok');
                e.preventDefault();
                var $link = $(e.currentTarget);
                var animal_id = {{ animal.id }};
                var user_id = {{ user_id }};
                $link.toggleClass('fa-heart-o').toggleClass('fa-heart');
                $.ajax({
                    method: 'POST',
                    url: $link.attr('href'),
                    data: {animal_id: animal_id, user_id: user_id}
                }).done(function(data) {
                    $('.js-like-animal-count').html(data.hearts);
                })
            });
        });
    </script>
    {% endif %}
{% endblock %}

