{% extends 'base.html.twig' %}

{% block title %}Gyvūnas{% endblock %}

{% block body %}
    <style>
        .animal-show {

            width: 70%;
        }

        body {
            font-family: 'Quicksand', sans-serif;
        }

        .img-fluid {
            padding: 10px;
            border-radius: 5px;
            border: solid grey 2px;
            margin-left: 20px;
            max-width: 70%;
        }

        #card-title-big {
            font-weight: bold;
            padding-left: 20px;
        }

        .fa-heart {
            color: red;
        }

        .fa-heart:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        #heading {
            padding-left: 20px;
            padding-top: 10px;
            font-weight: bold;
        }

        #card-animal-big span {
            margin-left: 20px;
        }

        .card {
            background-color: whitesmoke;
        }

        .comments {
            background-color: white;
        }

        @media only screen and (max-width: 550px) {
            .animal-show {
                width: 90%;
            }

            .animal-show h3 h2 {
                font-size: 14px;
            }
        }


    </style>
    <div class="container-fluid animal-show">
        <div class="card card-default" id="card-animal-big">
            <h3 id="heading">Gyvūno anketa</h3>
            <hr>
            <h2 id="card-title-big">{{ animal.name }}, {{ animal.age }}m.</h2>
            <hr>
            <img class="img-fluid" src="/uploads/{{ animal.picture }}">

            <div class="card-body" style="background-color: whitesmoke;">
                <h3 class="card-subtitle">Gyvūno istorija</h3>
                <hr>
                {{ animal.species }} - {{ animal.name }}, {{ animal.age }}m.
                <hr>
                {{ animal.description }}
                <hr>
                <p>Prieglaudoje nuo:<span>{{ animal.createdAt ? animal.createdAt|date('Y-m-d') : '' }}</span></p>
                <hr>
                <a href="{{ path('reservation_show', {'id': animal.id}) }}"><i
                            class="fa fa-calendar-check fa-2x"></i> Rezervuokite susitikimo laiką su gyvūnu</a>
                <hr>

                {% if is_granted ('ROLE_USER') %}
                    <div href="{{ path('animal_toggle_heart', {id: id}) }}"
                         class="fas fa-heart fa-2x like-animal js-like-animal ooo">
                    </div>
                    <span class="js-like-animal-count">{{ animal.heartCount }}</span>
                    <span>"Pamėgti" gyvūną</span>
                    <hr>
                {% endif %}


                {% if comments %}
                    <h4>Komentarai</h4>
                    {% for comment in comments %}
                        <!-- Comment -->
                        <div class="card comments">
                            <div class="card-body">
                                <header>
                                    <div class="comment-user"><i
                                                class="fa fa-user"></i> {{ comment.user.firstName }} {{ comment.user.lastName }}
                                    </div>
                                    <time class="comment-date"><i
                                                class="fa fa-clock-o"></i> {{ comment.createdAt|date('Y-m-d H:i:s') }}
                                    </time>
                                </header>
                                <div class="comment-post">
                                    <p><i class="far fa-comment"></i> {{ comment.comment }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% endif %}

                {% if is_granted ('ROLE_USER') %}
                    <div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">{{ button_label|default('Komentuoti') }}</button>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
                {% if is_granted ('ROLE_ADMIN') %}
                    <hr>
                    <a href="{{ path('animal_edit', {'id': animal.id}) }}" class="btn btn-warning btn-sm">Koreguoti</a>
                    {{ include('animal/_delete_form.html.twig') }}
                    <a href="{{ path('animal_index') }}">Grįžti į sąrašą</a>
                {% else %}
                    <a href="{{ path('animals_list') }}">Grįžti į sąrašą</a>
                {% endif %}


            </div>
        </div>
        {{ include('home/_footer.html.twig') }}
    </div>
{% endblock %}


{% block javascripts %}
    {% if user_id != 0 %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('.ooo').on('click', function (e) {
                    e.preventDefault();
                    var $link = $(e.currentTarget);
                    var animal_id = {{ animal.id }};
                    var user_id = {{ user_id }};
                    $.ajax({
                        method: 'POST',
                        url: $link.attr('href'),
                        data: {animal_id: animal_id, user_id: user_id}
                    }).done(function (data) {
                        $('.js-like-animal-count').html(data.hearts);
                    })
                });
            });
        </script>
    {% endif %}
{% endblock %}

