{% extends 'base.html.twig' %}

{% block title %}Redaguoti puslapį Apie{% endblock %}
{% block navbar %} {% endblock %}
{% block body %}
<style>
    .container-fluid {
        max-width: 70%;
        padding: 70px;
    }
</style>
    <div class="container-fluid">
    <h1>Redaguoti puslapį Apie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Išsaugoti') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('home') }}">Grįžti į pagrindinį</a>
    </div>
{% endblock %}