{% extends 'base.html.twig' %}

{% block title %}Koreguoti puslapį Apie{% endblock %}

{% block body %}
    <h1>Koreguoti puslapį Apie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Išsaugoti') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('home') }}">Grįžti į pagrindinį</a>
{% endblock %}