{% extends 'base.html.twig' %}

{% block title %}Vartotojo informacija{% endblock %}

{% block body %}
<style>
    .user-info{
        padding: 30px 20px 60px 20px;
        max-width: 80%;
        border: solid 2px #dedede;
        font-family: 'Quicksand', sans-serif;
        background-color: white;
    }
</style>
<div class="container-fluid user-info">
    <h1>Vartotojo informacija</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Reg. Nr.</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Vardas</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Pavardė</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>El.paštas</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Anketos sukūrimo laikas</th>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('edit_profile_data', {'id': app.user.id}) }}">Atnaujinti anketos duomenis</a>
</div>
    <div class="footer">
        {{ include('home/_footer.html.twig') }}
    </div>
    {% endblock %}

